body{
    margin: 10;
    padding: 10 10;
}

.hidden{
    display: none;
}

text{
    font-size: 60px;
    cursor: pointer;
}

rect{
    cursor: pointer;
}

h1{
    text-align: center;

}

#gameScreen{
    padding-top: 4%;
    display: flex;
    justify-content: center; 
    align-items: center;
    top: 10%;
}

#scramble-btn{
    display: flex;
    justify-content: center;
    color: red;
}

button{
    height: 50px;
    width: 10%;
    font-size: 2em;
}